<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-3">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>User List</strong>
                            </div>
                            <div class="col-md-6 text-right">
                                <a href="#add-new-user" data-toggle="modal" data-target="#add-new-user" class="text-info">+ Add New</a>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Created At</th>
                                <th colspan="2">Action</th>
                            </tr>
                            <tr v-for="user in users" v-bind:key="user.id">
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.created_at }}</td>
                                <td>
                                    <div class="dropdown">
                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action</a>

                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a @click.prevent="editUser(user)" href="#" data-toggle="modal" data-target="#add-new-user" class="dropdown-item text-info">Edit</a>
                                            <a class="dropdown-item text-danger" href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="add-new-user" tabindex="-1" role="dialog" aria-labelledby="add-new-user" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="add-new-user">Add New User</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <form @submit.prevent="addUser">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input v-model="user.name" type="text" class="form-control" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input v-model="user.email" type="email" class="form-control" placeholder="example@gmail.com">
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input v-model="user.password" type="password" class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            users: [],
            user: {
                id: '',
                name: '',
                email: '',
                passowrd: ''
            },
            user_id: '',
            pagination: {},
            edit: false
        }
    },
    created() {
        this.fetchUsers();
    },
    methods: {
        // Fetch Users List
        fetchUsers(page_url) {
            let vm = this;
            page_url = page_url || '/api/users';
            fetch(page_url)
            .then(res => res.json())
            .then(res => {
                this.users = res.data;
                vm.makePagination(res.meta, res.links);
            })
            .catch(err => console.log(err));
        },
        // Make Pagination
        makePagination(meta, links) {
            let pagination = {
                current_page: meta.current_page,
                last_page: meta.last_page,
                next_page_url: links.next,
                prev_page_url: links.prev
            }
            this.pagination = pagination;
        },
        // Add/Update User
        addUser() {
            if( this.edit === false ) {
                // Add
                fetch('/api/user', {
                    method: 'post',
                    body: JSON.stringify(this.user),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    this.user.name = '';
                    this.user.email = '';
                    this.user.password = '';
                    alert('User Added!');
                    this.fetchUsers();
                })
                .catch(err => console.log(err));
            }else {
                // Update
                fetch('/api/user', {
                    method: 'put',
                    body: JSON.stringify(this.user),
                    headers: {
                        'content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    this.user.name = '';
                    this.user.email = '';
                    this.user.password = '';
                    alert('User Updated!');
                    this.fetchUsers();
                })
                .catch(err => console.log(err));
            }
        },
        // Edit User
        editUser(user) {
            this.edit = true;
            this.user.id = user.id;
            this.user.user_id = user.id;
            this.user.name = user.name;
            this.user.email = user.email;
            this.user.password = user.password;
        }
    },

}
</script>
